<p>Welcome to this website all about the songs of the great Frank Sinatra</p>
<img alt="Frank Sinatra" src="/images/sinatra.jpg" width="320" />
<br>
<br>
<p>This widget view presents with a standard Sinatra layout</p>
<%= partial :widget %>
<p>This widget view presents present via an iframe</p>
<iframe src="http://localhost:4567/widget" width="320" height="250"></iframe>
<h3>Additional capabilities</h3)>
<p>The aggregate RSS feeds are available as an output stream. Just enter:</p>
- <hostname>/rss
<br>
<p>New RSS feeds can be loaded manually to the database. Just enter:</p>
- <hostname>/loadnow
<p>In production use, the loadnow function would be invoked on a periodic basis using a cron job</p>
