<p>Welcome to this website that will help you build an RSS aggregator</p>
<img alt="Frank Sinatra" src="/images/sinatra.jpg" width="320" />
<br>
<br>
<p>This widget view uses a standard Sinatra layout approach</p>
<%= partial :widget %>
<p>This widget view shows the same information presented through an iframe</p>
<iframe src="http://localhost:4567/widget" width="320" height="250"></iframe>
<h3>Additional capabilities</h3)>
<p>The aggregate RSS feeds are available as an output stream. Just enter:</p>
- "production-hostname"/rss
<br>
<p>New RSS feeds can be loaded manually to the database. Just enter:</p>
- "production-hostname"/loadnow
<p>In production use, the loadnow function can also be invoked on a periodic basis using a cron job</p>
